# DB
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/juntos?schema=public"

# Backend
PORT=4000
PUBLIC_BASE_URL="http://localhost:3000"
CORS_ORIGIN="http://localhost:3000"

# Frontend
NEXT_PUBLIC_API_BASE="http://localhost:4000"
# Coloque o ID da adventure criada no seed (ou implemente listagem)
NEXT_PUBLIC_ADVENTURE_ID=""